Django==5.0.2
djangorestframework==3.15.1
psycopg==3.1.8
watchdog==5.0.3
PyMuPDF==1.24.12
pandas==2.2.3
numpy==2.0.2
pymupdf4llm
pytesseract
pillow
pymupdf
pdfplumber
pdf2image
markdownify
openpyxl==3.1.2
django-cors-headers==4.3.1

